<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.838405707466-ldsqc8819ak4rvs62jsu5v14llfqm4ld</string>
				<string>fb5588268667867414</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>5588268667867414</string>
	<key>FacebookClientToken</key>
	<string>ee5bdf72792bc9d27a1bc7fafa111d6f</string>
	<key>FacebookDisplayName</key>
	<string>EatMate</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Kanit-Bold.ttf</string>
		<string>Kanit-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
